*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
        background: #232526;
        background: -webkit-linear-gradient(to left, #414345, #232526);
        background: linear-gradient(to left, #414345, #232526);
}

.container{
    width: 80%;
    height: 100vh;
    margin: 20px auto;
    /* border: 3px solid red; */
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}

.container .left-side{
    display: flex;
    flex-direction: column;
    flex:2;
    
}
.container .left-side .info-box{
    margin-bottom: 2rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    /* background: rgba(255,255,255,0.1); */
    background-color: #414243;
   /* height: 410px; */
   /* padding:30px 30px 0 35px; */
   padding-top: 30px;

}
.container .left-side .info-box .image-box{
    height: 140px;
    width: 8.5rem;
    margin: 0px auto 10px;
   /* padding:30px 30px 0 35px; */
   /* border: 2px solid red; */

}
.container .left-side .info-box .image-box img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.container .left-side .info-box .about-box{
    color:white;
    padding:10px 30px;
}
.container .left-side .info-box .about-box h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.container .left-side .info-box .about-box p{
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}
.container .left-side .info-box .about-box ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
    gap: 5px;
    color:white;
}

.container .left-side .info-box .about-box ul li a i{
    color: white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.38);
    padding: 10px;
    transition: 0.3s ease-in-out;
}
.container .left-side .info-box .about-box ul li a i:hover{
    color:black;
    background-color: rgba(255, 255, 255, 0.663);
}



.container .left-side .info-box .icons-box{
    display: flex;
    border-top: 2px solid rgba(0, 0, 0, 0.513);
    margin-top: 30px;
 
    /* width: 120%; */
    /* margin-left: -30px; */
}

.container .left-side .info-box .icons-box .home-box{
    flex:1;
    text-align: center;
    color:white;
    padding: 20px 0;
    border-right: 2px solid rgba(0, 0, 0, 0.513);
}

.container .left-side .info-box .icons-box .align-left{
    flex:1;
    color:white;
    text-align: center;
    padding: 20px 0;
    border-right: 2px solid rgba(0, 0, 0, 0.513);

}
.container .left-side .info-box .icons-box .login-box{
    flex:1;
    color:white;
    text-align: center;
    padding: 20px 0;
}

.container .left-side .search-part{
    background-color: #414243;

    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.container .left-side .search-part input{
    background-color: #414243;
    outline: none;
    border:none;
    color:rgba(255, 255, 255, 0.696);
    font-size: 15px;

}
.container .left-side .search-part a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.337);
}

.container .left-side .pages{
    margin-top: 20px;
    height: 180px;
    background-color: #414243;
}

.container .left-side .pages .my-pages{
    padding: 20px 20px;
    color:white;
    font-size: 16px;
    font-family: sans-serif;
}
.container .left-side .pages ul {
    list-style: none;
    padding:10px 20px;
    border-top: 1px solid black;
}
.container .left-side .pages ul li a{
    text-decoration: none;
    color:#FFFFFF99;
    font-size: 14px;
    font-family: sans-serif;
}
.container .left-side .pages ul li{
    margin-top: 10px;

}

.container .left-side .tag-box{
    margin-top: 20px;
    background-color: #414243;
}

.container .left-side .tag-box h1{
    padding: 20px 20px;
    color:white;
    font-size: 16px;
    font-family: sans-serif;
    border-bottom: 2px solid black;
}

.container .left-side .tag-box .all-tags{
    padding: 20px 20px;

}

.container .left-side .tag-box .all-tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.container .left-side .tag-box .all-tags li{
    padding: 4px 8px;
    background-color:#FFFFFF17;

}

.container .left-side .tag-box .all-tags li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
}


.container .left-side .category-box {
    margin-top: 20px;
    background-color: #414243;
}

.container .left-side .category-box h1{
    padding: 20px 20px;
    color:white;
    font-size: 16px;
    font-family: sans-serif;
    border-bottom: 2px solid black;
}

.container .left-side .category-box .all-categories{
    list-style: none;
    padding: 15px;

}
.container .left-side .category-box .all-categories li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.container .left-side .category-box .all-categories li img{
    width:15px;
}

.container .left-side .category-box .all-categories li a{
    text-decoration: none;
    color:#FFFFFF99;
    margin-left: 10px;
    /* border: 2px solid red; */
}


.container .right-side {
    flex:5;
    height: 100vh;
      
}
.container .right-side .blogs{
    width: 100%;
}
.container .right-side .blogs .blog{
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    padding: 3rem;
    width: 100%;
}

.container .right-side .blogs .blog h1{
    text-decoration: none;
    display: block;
    color:#0064C4;
    font-size: 36px;
    font-family: serif;
    margin-bottom: 8px;
    transition: 0.3s ease-in-out;
    
}

.container .right-side .blogs .blog h1:hover{
    color:black;
}


.container .right-side .blogs .blog span{
    color: #666666;
    font-size: 12px;
    margin-right: 8px;
    font-family: sans-serif;
}

.container .right-side .blogs .blog a{
    color: #666666;
    font-size: 12px;
    font-family: sans-serif;
    margin-right: 8px;
    text-decoration: none;
}
.container .right-side .blogs .blog .text-box{
    color:#333333;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 20px;
    line-height: 25px;
}
.container .right-side .blogs .blog .text-box a{
    color:#0064C4;
    font-size: 16px;
}